* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
}

body{
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header{
    height: 127px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px -6px #0057FF;
    border-radius: 0 0 13px 13px;

    display: flex;
    justify-content: start;
    align-items: center;
}

header .logo{
    padding: 0 50px;
}

h1{
    text-align: center;
    color: #134077;
    margin: 78px 0 22px 0;
}

.form{    
    display: flex;
        align-items: center;
        justify-content: center;
}

/* LOGIN FORM */

.login-form {
    width: 660px;
    background: #FFFFFF;
    border: 1px solid #134077;
    border-radius: 19px;
    padding: 30px;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    outline: 0;
    border-width: 0 0 2px;
    margin-bottom: 30px;

    font-size: 20px;
    color: #000;
    font-weight: 400;
  }

  .login-form input[type="submit"]{
    background-color: #0057FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .login-form input[type="submit"]:hover {
    background-color: #0069d9;
  }

  .password-toggle {
    position: relative;
  }

  .password-toggle button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
  }

  .password-toggle button i {
    color: #0057FF;
  }

.form-actions {
margin-top: 30px;
text-align: center;
}

.form-actions a {
text-decoration: none;
color: #2D224C;
font-weight: 400;
}

.form-actions a:hover {
    color: slategray;
}

#recover{
  color: #2D224C;
  float: right;
  text-decoration: none;
}

#recover:hover{
  text-decoration: underline;
}

.error-message {
    width: 30%;
      position: absolute;
      top: 20%;
      left: 50%;
      translate: -50%;

    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
      border-radius: 15px;
      margin-bottom: 20px;
      text-align: center;
}

.success-message {
  width: 30%;
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50%;

  background-color: #4CAF50;
  color: white;
  padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

/* INDEX */
.eventsRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.single-event:hover {
  transform: translateY(-10px);
}

.single-event h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.single-event p {
  font-size: 16px;
  margin-bottom: 20px;
}

.single-event button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.single-event button:hover {
  background-color: #0056b3;
}
